<!DOCTYPE html>
<html lang="en">
<head>
    <title>Isha Mehta</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<!-- <script src="coverage.json"></script> -->
</head>
<body>
	<div class="row vehicle-coverage-tables">
		<table cellpadding="0" border="0">
			<thead>
				<tr>
					<th style="background-image:url(acura.png)" title="Acura"></th>
					<th class="rotateParent" valign="bottom" v-for="item in car.years">
						<p class="rotate ie8">{{item}}</p>
					</th>
				</tr>
			</thead>
			<tbody>
				<tr v-for="(item, key, index) in car.coverage">
					<td>
						{{key}}
					</td>
					<td v-for="items in car.years" v-on:click="setPill">
						<div v-for="selectedYear in item" v-if="selectedYear == items" v-bind:class="{ 'set' : true}" class="defaultSelectedYears"> </div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div id="demo">
	</div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js"></script>
<script src="coverage.json"></script>
<script src="script.js"></script>
</html>